<% if session[:category_id]  == category.id %>

    <% if category.id == 0 %>
        <li class="active"><a href="<%=url_for(category)%>"> <%= category.name %> <span class="badge"><%= all_products %></span></a></li>
    <%else %>
        <li class="active"><a href="<%=url_for(category)%>"> <%= category.name %> <span class="badge"><%= category.products.count %></span></a></li>
    <%end%>

<% else %>
    <% if category.id == 0 %>
        <li><a href="<%=url_for(category)%>"> <%= category.name %> <span class="badge"><%= all_products %></span></a></li>
    <%else %>
        <li><a href="<%=url_for(category)%>"> <%= category.name %> <span class="badge"><%= category.products.count %></span></a></li>
    <%end%>
<% end %>
